.locationSearch{
    display:flex;
    background-color: #1f75fe;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
    /* font-style: ; */
    position: relative;
    width: 100vw;
}

.title h1{
    padding: 0px;
    margin: 0px;
    font-size: larger;
}

.locationImageComp{
    cursor: pointer;
}

.title{
    color: white;
    position: relative;
    right: 0.5vw;
}

.searchInput form{
    background-color: white;
    border-radius: 1px;
    width: 78.5vw;
    height: 2.4rem;
    padding: 3.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.searchInput input{
    border-style: none;
    width: 95%;
    height: 95%;
    font-size: 1.05rem;
}

.searchInput input:focus{
    outline: none;
}

.searchInput ::placeholder{
    color: rgb(97, 96, 96);
    font-size: 1.05rem;
}


.searhIcon{
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    right: 6px;
}

.locationImageComp{
    color: rgb(69, 66, 66);
}

.locationIconDiv{
    background-color: black;
    height: 2.8rem;
    width: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5px;
    opacity: 0.975;
    left: 0.5vw;
    position: relative;
    cursor: pointer;
}

.locationIcon{
    font-size: 1.5rem;
    color: white;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .locationSearch{
        height: 12vh;
        width: 99.5vw;
    }

    .searchInput{
        position: relative;
        right: 0.6vw;
    }

    .locationIcon{
        font-size: 1.65rem;
        position: relative;
    }

    .searhIcon{
        font-size: 1.65rem;
        right: 6px;
    }

    .title h1{
        font-size: 2.35rem;
    }
    
    .title{
        right: 0.2vw;
    }
    
    .searchInput ::placeholder{
        font-size: 1.05rem;
    }

    .searchInput form{
        width: 67.5vw;
        height: 2.2rem;
        position: relative;
        left: 2.2vw;
    }

    .locationIconDiv{
        position: relative;
        right: 1vw;
    }
}

@media screen and (min-width: 600px) and (max-width: 991.9px) {
    .locationSearch{
        height: 12vh;
        width: 99.5vw;
    }

    .locationIcon{
        font-size: 1.2rem;
    }

    .searhIcon{
        font-size: 1.2rem;
        right: 6px;
    }

    .title h1{
        font-size: 2.3rem;
        right: 0.5vw;
        position: relative;
    }
    
    .title{
        right: 0.5vw;
    }
    
    .searchInput ::placeholder{
        font-size: 1.05rem;
    }

    .searchInput form{
        width: 60vw;
        height: 2.2rem;
        position: relative;
        left: 1.5vw;
    }

}

@media screen and (max-width: 599px) {
    
}